.panel-body {
background:#191144;}

.panel-green{
	background-color:green !important; 
}

.panel-blue{
	background-color:blue !important; 
}

.panel-red{
	background-color:red !important; 
}

.panel-yellow{
	background-color:#D2C614 !important; 
}

.panel-skyblue{
	background-color:#1BB2B7 !important; 
}

.panel-mp3{
	background-color:#E10EE5 !important; 
}

